<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This app is essentially a specialized view for the WritingPrompts subreddit. So why does this exist if you can just click that link and go to the source? One of the problems I faced while trying to improve my own creative writing skills through the use of prompts is that I really like to read. I like to read so much, in fact, that I was spending my time reading other people's responses to these prompts instead of writing my own. When I would finally drag myself to start writing, the work I did felt like I was simply rehashing someone elses great response rather than coming up with something personal. This app lets me have access to the same prompts but gives me a way to hide the other responses until I've already written my own.
</p>