<div class="center jumbotron">
	<h1>Welcome to PromptMe</h1>
	<h2>
  	  Need to practice creative writing, but aren't actually creative enough to come up with any ideas yourself? Click the button below to get moving.
	</h2>

  	<%= link_to "Get me a prompt!", prompt_path, class: "btn btn-lg btn-primary" %>
</div>