<h1 class="center">Your prompt... should you choose to accept it</h1>
<div class="center jumbotron">
	  <tr id="writingprompts">
	    <td><%= @prompt.title %></td> by <td><%= @prompt.author %></td>
	  </tr>
</div>