<footer class="footer">
  <small>
    The <a href="http://www.danonrockstar.com/promptme/">Prompt Me</a> application
    by <a href="http://www.danonrockstar.com/">Dan Kirschner</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact Me", '#' %></li>
      <li><a href="http://www.danonrockstar.com/">Blog</a></li>
    </ul>
  </nav>
</footer>